﻿@{
		Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section css {
		<link href="https://cdn.quilljs.com/1.1.3/quill.snow.css" rel="stylesheet">
		<link href="@Url.Content("~/Content/css/katex.min.css")" rel="stylesheet">
}

@section js {
		<script src="https://cdn.quilljs.com/1.1.3/quill.js"></script>
		<script src="@Url.Content("~/Content/js/katex.min.js")"></script>
		<script src="@Url.Content("~/Content/js/content.js")"></script>
}

<div class="container-fluid" style="margin-top:100px;">
		<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
						<h3>Create Content</h3>
				</div>
				<div class="col-md-2"></div>
		</div>

		<div class="row" style="margin-top:15px;">
				<div class="col-md-2"></div>
				<div class="col-md-8">
						<input type="text" class="form-control" id="contentTitle" placeholder="Title">
				</div>
				<div class="col-md-2"></div>
		</div>

		<div class="row" style="margin-top:15px;">
				<div class="col-md-2"></div>
				<div class="col-md-8">
						<div id="editor"></div>
				</div>
				<div class="col-md-2"></div>
		</div>

		<div class="row" style="margin-top:15px;">
				<div class="col-md-2"></div>
				<div class="col-md-8">
						<button id="saveContentBtn" type="button" class="btn btn-success">Save for later</button>
						<button id="publishContentBtn" type="button" class="btn btn-info pull-right">Publish</button>
				</div>
				<div class="col-md-2"></div>
		</div>
</div>