﻿@model edutech.Models.TeacherContent

@{
		Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css {
		<link href="@Url.Content("~/Content/css/login.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/css/katex.min.css")" rel="stylesheet">
}

<div class="container login-wrapper">
		<div class="row">
				<div class="row">
						<div class="col-md-12 card card-container" style="max-width:100%">
								<div>
										<center>
												<h1><small>@Model.Title</small></h1>
										</center>
								</div>
								<div>
										@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
								</div>
						</div>
				</div>
		</div>
