﻿@model List<edutech.Models.TeacherContent>

@{
		Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css {
		<link href="@Url.Content("~/Content/css/login.css")" rel="stylesheet">
		<link href="@Url.Content("~/Content/css/jquery.bootgrid.min.css")" rel="stylesheet">
}

@section js {
		<script src="@Url.Content("~/Content/js/jquery.bootgrid.min.js")"></script>
		<script src="@Url.Content("~/Content/js/user-profile.js")"></script>
}

<div class="container" style="margin-top:50px;">
		<div class="row">
				<div class="col-md-2 card card-container">
						<img id="profile-img" class="profile-img-card" src="Content/img/login-user.png" />
						<div>
								<center>
										@*first last name*@
								</center>
						</div>
				</div>

				<div class="col-md-7"></div>

				@*<div class="col-md-3 card card-container"></div>*@
		</div>

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 card card-container" style="max-width:100%">
						<ul class="nav nav-pills nav-justified">
								<li role="presentation" class="active"><a href="#">Content</a></li>
								<li role="presentation"><a href="#">Followers</a></li>
								<li role="presentation"><a href="#">Following</a></li>
								<li role="presentation"><a href="#">Posts</a></li>
						</ul>

						@*<div class="panel panel-default" style="margin-top:10px;">
										<div class="panel-heading">
												<h3 class="panel-title">Panel title</h3>
										</div>
										<div class="panel-body">
												Panel content
												<a href="/teachercontent/viewcontent?contentId=582f308347b1a4069c4e0666">ContentTitle</a>
										</div>
								</div>*@

						<div class="panel panel-default" style="margin-top:10px;">
								<div class="panel-body">
										<table id="grid-basic" class="table table-condensed table-hover table-striped">
												<thead>
														<tr>
																<th data-column-id="title" data-formatter="link">Title</th>
																<th data-column-id="summary">Summary</th>
																<th data-column-id="author">Author</th>
																<th data-column-id="created" data-order="desc">Created</th>
														</tr>
												</thead>
												<tbody>
														@for (var i = 0; i < Model.Count; i++) {
																<tr>
																				<td><a href="/teachercontent/viewcontent?contentId=@Model[i].TeacherContentId">@Model[i].Title</a></td>
																				<td>@Model[i].Author</td>
																				<td>@Model[i].Author</td>
																				<td>@Model[i].DateTime</td>
																</tr>
														}
												</tbody>
										</table>
								</div>
						</div>

				</div>
				<div class="col-md-1"></div>
		</div>

</div>
