﻿@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section css {
		<link href="@Url.Content("~/Content/css/landing-page.css")" rel="stylesheet">
}

<a name="about"></a>
<div class="intro-header">
		<div class="container">

				<div class="row">
						<div class="col-lg-12">
								<div class="intro-message">
										<h3>Find content for your classroom</h3>
										<hr class="intro-divider">
										<ul class="list-inline intro-social-buttons">
												<li>
														<a href="/teachercontent" class="btn btn-default btn-lg"><i class="fa fa-folder-open fa-fw"></i> <span class="network-name">Content</span></a>
												</li>
												<li>
														<a href="community.html" class="btn btn-default btn-lg"><i class="fa fa-users fa-fw"></i> <span class="network-name">Community</span></a>
												</li>
												<li>
														<a href="chat.html" class="btn btn-default btn-lg"><i class="fa fa-comments fa-fw"></i> <span class="network-name">Chat</span></a>
												</li>
										</ul>
										<ul class="list-inline intro-social-buttons" style="margin-top: 50px;">
												<li>
														<a href="/signup" class="btn btn-info btn-lg"><i class="fa fa-user-plus"></i> <span class="network-name">Sign up</span></a>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
</div>